name = "ac-shuttle-dev-worker"
main = "src/index.ts"
compatibility_date = "2024-09-20"

[vars]
WORKER_URL = "https://ac-shuttle-dev-worker.acshuttles157.workers.dev"
CUSTOMER_FROM_EMAIL = "nadim@perfectpages.org"
OWNER_EMAIL = "nadimkabir28@gmail.com"
DRIVER_CONTACT_NAME = "Driver Name"
DRIVER_CONTACT_EMAIL = "contact@ac-shuttles.com"
DRIVER_CONTACT_PHONE = "770-370-9714"
RESEND_DRY_RUN = "false"
VERBOSE_LOGGING = "true"
RATE_LIMIT_WINDOW_SECONDS = "60"
RATE_LIMIT_MAX_REQUESTS = "10"
TOKEN_TTL_MINUTES = "60"
DECISION_MIN_AGE_MS = "1000"
GOOGLE_SHEET_ID_PRIMARY = "1XafG-zClHmokMTm4-7K8YXhxM3XlLJAnfdx9DzGFqYI-c"
GOOGLE_SHEET_ID_BACKUP = "1Jx6cWj7vY0Yln1zuQ9yMruHd2RJpq1N1HWeporUcZPE"
GOOGLE_SHEET_ID_AUDIT = "1fm15EjkOvLuNuDIFrBt3lsDQgfTHRB8VUE24sh3EOW4"
GOOGLE_SHEET_RANGE_PRIMARY = "Sheet1!A:Z"
GOOGLE_SHEET_RANGE_BACKUP = "Sheet1!A:Z"
GOOGLE_SHEET_RANGE_AUDIT = "Sheet1!A:Z"
QUOTE_ALLOWED_ORIGINS = "https://acshuttles.com"
QUOTE_RATE_LIMIT_WINDOW_SECONDS = "60"
QUOTE_RATE_LIMIT_MAX_REQUESTS = "10"
QUOTE_TIME_ZONE = "America/New_York"
QUOTE_DEFAULT_CURRENCY = "USD"
TRIP_BASE_FARE = "0"
TRIP_PER_KM_RATE = "0"
TRIP_PER_MIN_RATE = "0"
TRIP_SURGE_MULTIPLIER = "1"
TRIP_MINIMUM_FARE = "0"
TRIP_PRICING_FORMULA = ""
QUOTE_DEBUG_LOGGING = "false"

[observability]
enabled = true

[observability.logs]
enabled = true

[[kv_namespaces]]
binding = "SECURITY_STATE"
id = "97fe06170d3a474f8b9061e14ec8cef2"
preview_id = "18bd0db12d29446bb8f3b8bc98736f4b"
